<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>

  {% include head.html %}
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/methods.css">
  <link rel="stylesheet" href="{{site.url}}{{site.baseurl}}/assets/css/strict.css">
</head>

<body>

  <div class="center-and-center">
    <div style="font-size: 6em"> 404 </div>
    🔧 Sorry about that, this site is under construction 🔧
    <br>
    Things will find their way very soon!
    <br>
    You can drop me a line.
  </div>

  {% include footer.html %}

</body>

</html>