body{
  font-family: monospace, Courier, Times;
  padding-top: 20px;
  padding-left: 20px;
}

.container {
  text-align: center;
}

h1 {
 width: 40%;
}

p {
  width: 70%;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.links {
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

footer {
  padding-top: 14px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 30px;
  bottom: 0px;
  background-color: white;
  text-decoration: underline;
}


#linkedin:hover {
  color: #0078b9;
}

#github:hover {
  color: grey;
}

#gitlab:hover {
  color: #ff6600;
}

#instagram:hover {
  color: #574ccd;
}

#flickr:hover {
  color: #ff007d;
}

#youtube:hover {
  color: red;
}

#mail:hover {
  color: blue;
}

a {
  margin: 0px;
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

img {
    pointer-events: none;
}
