*{
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
  overflow: hidden; /* Prevent scrolling */
  font-family: monospace, Courier, Times;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.links {
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

.more {
  position: fixed;
  width: 100%;
  /*background-color: yellow;*/
  bottom: 20px;
  text-decoration: underline;
}


#linkedin:hover {
  color: #0078b9;
}

#github:hover {
  color: grey;
}

#gitlab:hover {
  color: #ff6600;
}

#instagram:hover {
  color: #574ccd;
}

#flickr:hover {
  color: #ff007d;
}

#youtube:hover {
  color: red;
}

a{
  margin: 0;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

img {
    pointer-events: none;
}
