body {
  position: absolute;
  top: 37%;
  left: 37%;
  overflow: hidden;
  font-family: Courier, Helvetica;
}

.links {
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  outline: none;
}

#linkedin:hover {
  color: #0078b9;
}

#github:hover {
  color: grey;
}

#instagram:hover {
  color: #574ccd;
}

#flickr:hover {
  color: #ff007d;
}

#youtube:hover {
  color: red;
}
