<title>{{site.title | page.title}}</title>

<meta charset={{ site.encoding }}>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="language" content={{ site.language }}>
<meta name="keywords" content="florent, dufour, landing, welcome, presentation, cv, xyz, blockchain, biotechnology, health">

<link href="{{site.baseurl}}/assets/css/style.css" type="text/css" rel="stylesheet">
</link>

<link rel="icon" type="image/png" href="/favicon.ico">

{% seo %}