body {
  font-family: 'alma', monospace, 'Courier New', Courier, Times;
  letter-spacing: -0.05em;
}

.links {
  display: flex;
  font-size: 1.5em;
  cursor: pointer;
  justify-content: center;
}

.links > span {
  flex: 1 1 auto;
  flex-direction: row;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 40px; 
}

#linkedin:hover {
  color: #0078b9;
}

#github:hover {
  color: grey;
}

#researchgate:hover {
  color: #5accbb;
}

#instagram:hover {
  color: #ff007d;
}

#flickr:hover {
  color: #0063DC;
}

#docker-hub:hover{
  color: #00a3d9;
}

.links a:hover {
  background: none;
}

/* Typed words */

.dynamic {
  margin-top: 1.125em;
}

#typed {
  color: grey;
  text-transform: uppercase;
  margin: auto;
  width: 100%;
}

.typed-cursor {
  color: grey;
}