/* Adapted from: https://codepen.io/ainalem/pen/VNVaVd */

/*
 * NAV AND CONTAINER
 */

nav {
  display: flex;
  justify-content: center;
}

.nav-container {
  display: flex;
  height: 300px;
  justify-content: center;
  align-content: center;
  left: 50%;
  overflow: hidden;
  position: absolute;
  transform: translateX(-50%);
  transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  top: 80px;
  width: 325px;
}

/*
 * DROP
 */

 .drop {
  background: whitesmoke;
  border-radius: 1.2px;
  height: 5px;
  transform: translateY(-100px) translateX(-5px);
  transition: transform 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
  width: 5px;
}

/*
 * DOTS
 */

.dots {
  display: flex;
  padding: 10px;
}
.dot {
  background: var(--accent-color);
  border-radius: 50%;
  height: 10px;
  margin-right: 5px;
  width: 10px;
}
.dots:first-child {
  padding-left: 0;
}
.dot:last-child {
  margin-right: 0;
}
.dots.active .container {
  transform: translateX(-50%) translateY(20px);
}
.dots.active .drop {
  transform: translateY(212px) scale(108);
}
.dots.active .list li {
  cursor: pointer;
  opacity: 1;
  transition: opacity 200ms 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
}
.dots.active .list li:nth-child(2) {
  transition-delay: 130ms;
}
.dots.active .list li:nth-child(3) {
  transition-delay: 160ms;
}
.dots.active .list li:nth-child(4) {
  transition-delay: 190ms;
}
.dots.active .list li:nth-child(5) {
  transition-delay: 220ms;
}
.dots.active .list li:nth-child(6) {
  transition-delay: 250ms;
}
.dots.active .list li:nth-child(7) {
  transition-delay: 280ms;
}

/*
 * LIST
 */

.list {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  top: 120px;
  width: 325px;
}
.list ul {
  margin: 0;
  padding: 0;
}
.list li {
  align-items: center;
  display: flex;
  height: 2em;
  margin-left: 40px;
  opacity: 0;
  transition: opacity 100ms cubic-bezier(0.4, 0.0, 0.2, 1);
  user-select: none;
  -moz-user-select: none;
}

/*
 * CURSOR
 */

 .cursor {
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  position: absolute;
}

/*
 * Dark theme
 */

@media (prefers-color-scheme: dark) {

	.dot {
    background: var(--font-color-dark);
  }

  .drop {
    background: #222;
  }

}