:root {
	--accent-color: #fdf52b;
	--accent-color-dark: lightgrey;
	--font-color: black;
	--font-color-dark: white ;
	--background-color: white;
	--background-color-dark: #333;
}

body {
  font-family: 'LM', Garamond, Serif;
}

::selection {
	background: var(--accent-color);
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.4em;
}

p+h2 {
  padding-top: 1.5em;
}

a:link {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  background: var(--accent-color);
}

a,
a:visited {
  text-decoration: underline;
  color: inherit;
}

footer {
  font-family: 'alma', monospace, 'Courier New', Courier, Times;
  text-transform: uppercase;
  padding-top: 14px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
  background-color: var(--background-color);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.3);
}

ul {
  list-style-type: square;
  text-align: left;
}

button {
  background-color: --var(--background-color);
  border: solid;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  transition-duration: 0.4s;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

button:active {
  background-color: var(--accent-color);
}

.circular-square {
  border-radius: 20%;
	margin-right: 1em;
}

blockquote {
  font-style: italic;
}

hr {
  border: 0;
  border-top: 1px solid;
  text-align: center;
	margin-top: 45px;
	margin-bottom: 0;
	width: 60%;
}

hr:after { /* TODO: Fade out edges? */
  content: "∴";
  display: inline-block;
  position: relative;
  top: -17px; /*Center on line */
  padding: 0 10px; /*White space*/;
  background: var(--background-color);
  font-size: 18px;
}

.iframe-container {
  overflow: hidden;
  padding-top: 56.25%; /* 16:9*/
  position: relative;
	margin-top: 1em;
}

.iframe-container iframe {
   border: 0;
   height: 100%;
   left: 0;
   position: absolute;
   top: 0;
   width: 100%;
}

@media (prefers-color-scheme: dark) {

	html {
		background-color: var(--background-color-dark);
		color: var(--font-color-dark);
	}

	::selection {
		background: var(--accent-color-dark);
	}

	h1, h2, h3 {
		color: var(--font-color-dark);
	}

	em,
	.cta{
		color: var(--font-color-dark);
	}

	a.cta ,
	a:visited.cta { /* Hack? */
		color: var(--font-color);
	}

	a:hover {
		background: var(--accent-color-dark);
		text-decoration-color: var(--font-color-dark);
	}

	code, pre {
		background-color: #222;
	}

	.footnotes::before {
		background-color: var(--font-color-dark);
	}

	blockquote {
		border-left-color: var(--font-color-dark);
	}

	#nav {
		border-bottom-color: var(--font-color-dark);
	}

	footer {
		background: var(--background-color-dark);
	}

	hr:after { /* TODO: Fade out edges? */
		background: var(--background-color-dark);
	}
}