@font-face {
  font-family: 'alma';
  src: url(/assets/fonts/alma/AlmaMono-Regular.otf);
  src: url(/assets/fonts/alma/almamono-regular-webfont.woff) format('woff'),
    url(/assets/fonts/alma/almamono-regular-webfont.woff2) format('woff2'),
    url(/assets/fonts/alma/AlmaMono-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'alma', monospace, 'Courier New', Courier, Times;
}

p+h2 {
  padding-top: 1.5em;
}

a:link {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
  background: #fdf52b;
}

a,
a:visited {
  text-decoration: underline;
  color: inherit;
}

footer {
  text-transform: uppercase;
  padding-top: 14px;
  text-align: center;
  position: fixed;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
  background-color: white;
  box-shadow: 0px 0px 25px lightgrey;
}

ul {
  list-style-type: square;
  text-align: left;
}