.links {
  display: flex;
  font-size: 1.5em;
  cursor: pointer;
  margin-left: 40px;
  margin-right: 40px;
}

.links span {
  flex: 1;
}

#linkedin:hover {
  color: #0078b9;
}

#github:hover {
  color: grey;
}

#keybase:hover {
  color: #ec692f;
}

#flickr:hover {
  color: #ff007d;
}

#docker-hub:hover{
  color: #00a3d9;
}

.links a:hover {
  background: none;
}