h2.tooltip {
  position: relative;
}

h2.tooltip .tooltiptext {
  font-style: oblique;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
}

h2.tooltip .tooltiptext::before {
  content: "#";
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

h2:hover::after{
  content: " |";
  animation: blinker 0.8s linear infinite;
}

@keyframes blinker {
  65% {
    opacity: 0;
  }
}
